<div class="container">
  <h1>Ask to the coach</h1>
  <form  id ="form-group" action="/coachanswers" method="get">
    <input type="text"
      name="questions"
      placeholder="What do you want to ask to the coach?">
    <input class="btn-submit" type="submit" value="Ask!">
  </form>
</div>
