<div class="container">
  <h1>Here are the answers from the coach!</h1>
  <h2>My question to the coach</h2>
  <%= @askthecoach %>
  <h2>The coach answers</h2>
  <div class="answers">
    <%= @coachanswers %>
  </div>
</div>
